*{
    box-sizing: border-box;
}

#formulario-cadastro{
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #725151;
    border-radius: 5px;
    background-color: #fdb225;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
inpute[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #a11919;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #3734fc;
    color: #fdb225;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}